<main class="form-signin">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">    
      <h1 class="h3 mb-3 fw-normal">Üye Giriş Ekranı</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" #username="ngModel" [(ngModel)] ="model.username"  id="username" name="username" placeholder="Kullanıcı Adı" required>
        <label for="floatingInput">Kullanıcı Adı</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" #password="ngModel" [(ngModel)] ="model.password"  id="password" name="password" placeholder="Şifre" required>
        <label for="floatingPassword">Şifre</label>
      </div> 
      <button class="w-100 btn btn-lg btn-primary" type="submit">Üye Girişi</button> 
    </form>
  </main>